{% extends "base_generic.html" %}

{% block content %}
  <h1>Syllabus</h1>
  <p>Bemvindos ao sistema UTFPR Syllabus!</p>
  <h2>Dynamic content</h2>
  <p>O sistema tem os seguintes dados:</p>
  <ul>
    <li><strong>Disciplinas:</strong> {{ num_disciplinas }}</li>
    <li><strong>Alunos:</strong> {{ num_aluno }}</li>
    <li><strong>Conjuntos de Disciplinas:</strong> {{ num_conjunto_disciplinas }}</li>
  </ul>

  <p>
    Você visitou essa página {{ num_visits }}{% if num_visits == 1 %} time{% else %} vezes{% endif %}.
  </p>
{% endblock %}
