{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-5">Bem-vindos ao Sistema UTFPR Syllabus!</h1>
  <p class="lead">Aqui você pode consultar cursos, disciplinas e progresso acadêmico.</p>
  <hr class="my-4">
  <p>O sistema contém os seguintes dados:</p>
  <ul>
    <li><strong>Disciplinas:</strong> {{ num_disciplinas }}</li>
    <li><strong>Alunos:</strong> {{ num_aluno }}</li>
    <li><strong>Conjuntos de Disciplinas:</strong> {{ num_conjunto_disciplinas }}</li>
  </ul>

  <p>
    Você visitou essa página {{ num_visits }}{% if num_visits == 1 %} vez{% else %} vezes{% endif %}.
  </p>
  <a class="btn btn-primary btn-lg" href="{% url 'disciplinascursadas' %}" role="button">Disciplinas Cursadas</a>
</div>
{% endblock %}