{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <p>Seu RA ou Senha estão incorretos. Por favor tente novamente.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Seu cadastro não permite acesso a essa página. Para continuar,
      por favor faça login com uma conta que permita o acesso.</p>
    {% else %}
      <p>Por favor faça login para acessar essa página.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>

{% endblock %}
