{% extends "syllabus_app/_form_card_base.html" %}

{% block form_title %}
  {% if object %}Editar Disciplina - {{ object.nome_disciplina }}{% else %}Adicionar Nova Disciplina{% endif %}
{% endblock %}

{% block form_card_title %}
  {% if object %}Editar Disciplina{% else %}Adicionar Nova Disciplina{% endif %}
{% endblock %}

{% block form_icon %}
  {% if object %}fas fa-edit{% else %}fas fa-book{% endif %}
{% endblock %}

{% block form_submit_button_text %}
  {% if object %}Salvar Alterações{% else %}Adicionar Disciplina{% endif %}
{% endblock %}

{% block form_cancel_url %}
  {% if object %}{{ object.get_absolute_url }}{% else %}{% url 'disciplina' %}{% endif %}
{% endblock %}
