{% extends "syllabus_app/_form_card_base.html" %}

{% block form_title %}
  {% if object %}Editar Requisitos de Conclusão - {{ object.nome_curso }}{% else %}Adicionar Novos Requisitos de Conclusão{% endif %}
{% endblock %}

{% block form_card_title %}
  {% if object %}Editar Requisitos de Conclusão{% else %}Adicionar Requisitos de Conclusão{% endif %}
{% endblock %}

{% block form_icon %}
  {% if object %}fas fa-edit{% else %}fas fa-clipboard-check{% endif %}
{% endblock %}

{% block form_submit_button_text %}
  {% if object %}Salvar Alterações{% else %}Adicionar Requisitos{% endif %}
{% endblock %}

{% block form_cancel_url %}
  {% if object %}{{ object.get_absolute_url }}{% else %}{% url 'reqconclusao' %}{% endif %}
{% endblock %}